{% comment %}
  CANVAS 3D VIEW INTEGRATION WITH IJEWEL
{% endcomment %}

<div class="canvas-viewer-wrapper">
  <div class="canvas-3d-container">
    <div class="display-flex">
      <canvas id="main-canvas" height="800" width="1200"></canvas>
    </div>
    <div
      id="mconfigurator"
      style="
        position: absolute;
        top: 15%;
        left: 57%;
      "
    ></div>
  </div>
  {% if enable_action_btn %}
    <div class="canvas-action-btns">
      <button type="button" class="btn-save save-canvas-options" data-action="save-personalization">
        Save
      </button>
      <button type="button" class="btn-save canvas-options-cancel-btn" data-action="close-modal">Cancel</button>
    </div>
  {% endif %}
  <div id="close-canvas-view">x</div>
</div>

<script>
  console.log('setting');

  const container = document.querySelector('.canvas-3d-container');
  const canvas = document.querySelector('#main-canvas');
  const buttons = document.querySelector('.canvas-action-btns');
  const mconfig = document.querySelector('#mconfigurator');

  // Get sizes using getBoundingClientRect()
  const { height: totalHeight, width: totalWidth } = container.getBoundingClientRect();
  const { width: canvasWidth } = canvas.getBoundingClientRect();
  const { height: buttonHeight } = buttons.getBoundingClientRect();

  // Apply new sizes
  mconfig.style.height = (totalHeight - buttonHeight) + 'px';
  mconfig.style.width = (totalWidth - canvasWidth) + 'px';

  console.log('setting finish');
</script>
