<!-- custom-price-breakdown -->
<!-- Trigger Button -->
<div class="price-breakdown-trigger" {{ block.shopify_attributes }}>
  <button onclick="openPriceBreakupModal()" class="button button--primary">Price Breakup</button>
</div>