<div>
    <h2>heading</h2>
</div>
{% schema %}
  {
    "name": "Product Info and Policies",
    "settings": [
      {}
    ],
    "blocks": [],
    "presets": [{ "name": "Product Info and Policies" }],
  }
{% endschema %}